@import "~bootstrap/dist/css/bootstrap.min.css";

.body {
  margin: 0;
  margin-top: px;
}

.bg-red {
  background-color: rgba(228, 136, 136, 0.299);
}

.container {
  padding: 40px;
  margin: auto;
}

card-header {
  padding: 30px;
}

col-md-3 {
  display: flex;
  flex-direction: column;
}

.row {
  margin: 0;
  padding: 0;
}

.col-6 {
  margin: 0;
  box-sizing: border-box;
}

.row p,
.col-6 p {
  margin: 10px 0px;
  margin-bottom: 0;
}

.custom-style {
  width: 55%;
  border-radius: 5px;
  background-color: rgb(167, 167, 167);
}

p.text-box-2 {
  font-size: 12px;
  color: rgb(180, 174, 174);
  margin-top: 0px;
  margin-bottom: 20px;
}
